@font-face {
  font-family: Earwing Factory;
  src: url(./base/earwig.ttf);
}
:root {
  color-scheme: light only;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header-container {
  background: url(../assets/photo/header-image.jpg) no-repeat 17% 70%;
  background-size: 1940px;
  width: 100%;
  padding-top: 225px;
  padding-bottom: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.headers {
  width: 100%;
}

.motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding-left: 32px;
  letter-spacing: 7px;
  max-height: 500px;
  background: url(../assets/icons/vector-text/&.svg) no-repeat center;
  background-position-x: 388px;
  row-gap: 190px;
}

.ochrony {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 110px;
  font-size: 87px;
  align-items: flex-start;
  display: flex;
  letter-spacing: 2px;
  align-items: flex-start;
  padding-left: 152px;
  position: relative;
  text-transform: uppercase;
}
.ochrony span {
  margin-right: 25px;
}

.hashtag {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 110px;
  font-size: 100px;
  align-items: flex-start;
  top: 0;
  display: flex;
  letter-spacing: 0px;
  align-items: flex-start;
  position: relative;
  text-transform: uppercase;
}

.circular {
  width: fit-content;
  margin-left: 36.4%;
  padding-top: 69px;
  padding-bottom: 48px;
}

.link-container {
  display: flex;
  align-items: flex-end;
  transform: rotate(180deg);
  height: fit-content;
  margin-top: 129px;
  margin-right: 23px;
}

.instagram-link {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  direction: ltr;
  color: #FFFFFF;
  writing-mode: vertical-rl;
}

.markup-bg {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: -337px;
  padding-right: 10%;
  overflow: hidden;
}

.markup {
  margin-left: -131px;
}

.text-label {
  margin-top: -28px;
}

@media (max-width: 1600px) {
  .motto {
    flex-direction: column-reverse;
  }
  .link-container {
    display: none;
  }
}
@media (max-width: 1500px) {
  .header-container {
    background: url(../assets/photo/header-image.jpg) no-repeat 30% 70%;
  }
  .motto {
    background: url(../assets/icons/vector-text/&.svg) no-repeat 21% 50%;
    background-size: 40%;
    row-gap: 100px;
  }
  .ochrony {
    font-size: 50px;
  }
  .hashtag {
    font-size: 50px;
  }
  .markup-bg {
    display: flex;
    row-gap: 162px;
  }
  .markup {
    margin-top: -3px;
    margin-left: -337px;
  }
}
@media (max-width: 1000px) {
  .header-container {
    background: url(../assets/photo/header-image.jpg) no-repeat 46% 100%;
    background-size: 1117px;
    padding-top: 83px;
    padding-bottom: 30px;
  }
  .motto {
    padding-left: 20px;
    row-gap: 95px;
    background: url(../assets/icons/vector-text/&.svg) no-repeat 21% 50%;
    background-size: 55%;
  }
  .ochrony {
    padding-left: 53px;
    font-size: 28px;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    line-height: 70px;
    font-weight: 500;
  }
  .ochrony span {
    font-size: 59px;
    line-height: 0;
    font-weight: 700;
    margin-right: 0;
  }
  .hashtag {
    display: flex;
    flex-direction: column;
    line-height: 45px;
    font-weight: 500;
    font-size: 55px;
    letter-spacing: -3px;
  }
  .hashtag span {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
  }
  .circular {
    width: fit-content;
    margin-left: 35%;
    padding-top: 67px;
    padding-bottom: 48px;
  }
  .circular img {
    width: 230px;
  }
  .markup-bg {
    display: flex;
    flex-direction: column;
    row-gap: 162px;
    margin-top: -380px;
  }
  .markup {
    width: 154px;
    margin-top: 25px;
    margin-left: -109%;
  }
  .text-label {
    width: 105px;
    margin-top: -14px;
    margin-left: 84%;
  }
}
@media (max-width: 660px) {
  .circular {
    margin-left: 29%;
  }
}
@media (max-width: 360px) {
  .circular {
    margin-left: 17.5%;
  }
}
.about-outer {
  margin-bottom: 88px;
  margin-top: -75px;
}

.about-container {
  background: url(../assets/icons/warning-sticker.png) no-repeat;
  background-position: right bottom;
  background-position-x: 97%;
  display: flex;
  flex-direction: column;
  padding: 0px 295px 152px 295px;
}

.pre-heading-text {
  text-align: right;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #232323;
  margin-bottom: 130px;
  padding-left: 34%;
}
@media (max-width: 1000px) {
  .pre-heading-text {
    font-size: 16px;
    line-height: 21px;
  }
}

.about-header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 110px;
  font-size: 67px;
  color: #CB5699;
  letter-spacing: 0;
  width: fit-content;
  letter-spacing: 0;
  margin: 0 auto;
  margin-bottom: 148px;
}

.about-skewed-text {
  font-family: "Earwing Factory";
  font-style: normal;
  font-weight: 400;
  font-size: 105.369px;
  line-height: 126px;
}

.about-question {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #232323;
  font-size: 88px;
  color: #CB5699;
}
@media (max-width: 1000px) {
  .about-question {
    font-size: 16px;
    line-height: 21px;
  }
}

.about-text {
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #232323;
  width: 65%;
  padding-left: 5px;
  white-space: break-spaces;
}
@media (max-width: 1000px) {
  .about-text {
    font-size: 16px;
    line-height: 21px;
  }
}

@media (max-width: 1600px) {
  .about-container {
    padding: 0px 160px 152px 160px;
    background-size: 30%;
  }
  .about-header {
    font-size: 45px;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  .about-skewed-text {
    font-size: 60px;
    margin-left: -3px;
  }
  .about-question {
    font-size: 45px;
  }
}
@media (max-width: 1000px) {
  .about-container {
    padding: 0px 70px 152px 70px;
  }
  .about-outer {
    margin-top: 63px;
  }
  .pre-heading-text {
    padding-left: 18%;
    margin-bottom: 0;
  }
  .about-header {
    font-size: 27px;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  .about-skewed-text {
    font-size: 39px;
    margin-left: -3px;
  }
  .about-question {
    font-size: 29px;
  }
  .about-text {
    margin-top: 7px;
    padding-left: 0;
    white-space: normal;
  }
}
@media (max-width: 600px) {
  .about-container {
    padding: 0px 16px 0px 16px;
    background: url(../assets/icons/Group\ 5.png) no-repeat 100% 92%;
  }
}
@media (max-width: 500px) {
  .about-container {
    background: url(../assets/icons/Group\ 5.png) no-repeat 110% 92%;
  }
  .about-outer {
    margin-bottom: 79px;
    margin-top: 66px;
  }
  .about-text {
    width: 230px;
  }
}
@media (max-width: 360px) {
  .about-container {
    background: url(../assets/icons/Group\ 5.png) no-repeat 122% 84%;
  }
}
.badz {
  background-color: #F0805F;
}

.badz-container {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 25px 0 0 0;
}

.badz-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #232323;
  width: 50%;
  padding: 0 48px;
  text-align: center;
}
@media (max-width: 1000px) {
  .badz-text {
    font-size: 16px;
    line-height: 21px;
  }
}

.flowers {
  justify-content: center;
  align-items: center;
  display: flex;
  background: url(../assets/icons/flower.png) no-repeat left top, url(../assets/icons/flower.svg) no-repeat 100% 138%;
  width: 100%;
  height: 100%;
  padding: 308px 0 320px 0;
}

.dots {
  background: url(../assets/icons/dots.png) no-repeat 100% 47%, url(../assets/icons/dots-2.png) no-repeat 14.6% 84.6%;
}

.text-bg {
  background: url(../assets/icons/text-bg.svg) no-repeat 51% 59%, url(../assets/icons/vector-text/zero-bg.png) no-repeat 0 103.5%, url(../assets/icons/vector-text/zero-bg2.png) no-repeat 100% 7%;
}

@media (max-width: 1750px) {
  .flowers {
    background-position: left top, right 120%;
    background-size: 15%, 15%;
  }
}
@media (max-width: 1000px) {
  .badz-container {
    padding: 0;
  }
  .flowers {
    background: none;
    padding: 86px 10px 66px 10px;
  }
  .dots {
    background: no-repeat url(../assets/icons/dots-3.png) 99% 1.5%, url(../assets/icons/dots-4.png) no-repeat 0% 80.5%, url(../assets/icons/zerow.png) no-repeat 98% 100%;
  }
  .text-bg {
    background: url(../assets/icons/text-bg.svg) no-repeat 51% 59%;
    background-size: 90%;
    padding: 50px;
  }
  .badz-text {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .badz-container {
    padding: 0;
  }
  .flowers {
    background: url(../assets/icons/flower-little.png) no-repeat -6% 0%;
    background-size: 18%;
    padding: 50px 10px 66px 10px;
  }
  .dots {
    background: no-repeat url(../assets/icons/dots-3.png) 99% 1.5%, url(../assets/icons/dots-4.png) no-repeat 0% 80.5%, url(../assets/icons/zerow.png) no-repeat 98% 100%;
  }
  .text-bg {
    background: url(../assets/icons/textarea-bg-2.png) no-repeat 51% 46%;
    padding-bottom: 21px;
  }
  .badz-text {
    width: 100%;
    padding: 0 65px;
  }
}
@media (max-width: 500px) {
  .text-bg {
    padding: 0;
    padding-bottom: 21px;
  }
  .flowers {
    padding: 86px 10px 66px 10px;
  }
  .badz-text {
    padding: 0 88px;
  }
}
@media (max-width: 435px) {
  .badz-text {
    padding: 0 50px;
  }
}
@media (max-width: 425px) {
  .badz-text {
    padding: 0 40px;
  }
}
@media (max-width: 360px) {
  .text-bg {
    padding: 0;
    padding-bottom: 21px;
  }
  .badz-text {
    padding: 0 28px;
  }
  .flowers {
    padding: 86px 10px 66px 10px;
  }
}
.info-container {
  display: flex;
  justify-content: space-between;
  padding: 175px 115px 48px 150px;
  background: url(../assets/icons/product-bg.svg) no-repeat 8.4% 55%, url(../assets/icons/product-bg-2.svg) no-repeat 19.8% 31%, url(../assets/icons/info-bg-1.svg) no-repeat 43.8% 28%, url(../assets/icons/info-bg-1.svg) no-repeat 54.9% 64.6%, url(../assets/icons/info-bg-1.svg) no-repeat 90.9% 37%, url(../assets/icons/info-flower.svg) no-repeat 98.6% 92.2%;
}

.info-text {
  display: flex;
  flex-direction: column;
  max-width: 1115px;
  text-align: center;
}

.info-text-first {
  margin-left: 110px;
  margin-right: 135px;
  border-radius: 25px;
  padding: 70px 43px 79px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #232323;
  background-color: #FCF2D7;
}
@media (max-width: 1000px) {
  .info-text-first {
    font-size: 16px;
    line-height: 21px;
  }
}

.info-text-second {
  margin-left: 610px;
  margin-top: 62px;
  background-color: #CEB0D7;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #232323;
  border-radius: 17px;
  letter-spacing: 2px;
  white-space: normal;
  padding: 15px 14px 18px;
}
@media (max-width: 1000px) {
  .info-text-second {
    font-size: 16px;
    line-height: 21px;
  }
}

.info-text-third {
  background-color: #E1F2FD;
  margin-top: 50px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #232323;
  border-radius: 25px;
  padding: 44px 40px 50px;
  margin-left: 10px;
  margin-right: 365px;
}
@media (max-width: 1000px) {
  .info-text-third {
    font-size: 16px;
    line-height: 21px;
  }
}

.product-image {
  justify-content: center;
  width: 500px;
  display: flex;
}
.product-image img {
  margin-left: 83px;
  margin-top: -46px;
  object-fit: contain;
}

@media (max-width: 1580px) {
  .info-text-second {
    margin-left: 150px;
  }
  .info-text-first {
    margin: 0 20px;
  }
  .info-text-third {
    margin-right: 410px;
  }
  .info-container {
    flex-direction: column;
    align-items: center;
    background: url(../assets/icons/product-bg.svg) no-repeat 41.4% 10%, url(../assets/icons/product-bg-2.svg) no-repeat 58.8% 3%, url(../assets/icons/info-bg-1.svg) no-repeat 35.8% 58%, url(../assets/icons/info-bg-1.svg) no-repeat 79.9% 64.6%, url(../assets/icons/info-bg-1.svg) no-repeat 39.9% 88%, url(../assets/icons/info-flower.svg) no-repeat 10.6% 46.2%;
    padding: 0 50px;
  }
  .product-image img {
    width: 220%;
  }
}
@media (max-width: 1200px) {
  .product-image {
    width: 80%;
  }
  .product-image img {
    margin: 0px 0 0 40px;
    width: 100%;
  }
  .info-container {
    padding: 0 5px;
    background: url(../assets/icons/product-bg-3.png) no-repeat 31% 14%, url(../assets/icons/product-bg-4.png) no-repeat 63.8% 8.4%, url(../assets/icons/info-bg-small.png) no-repeat 100% 66.5%, url(../assets/icons/info-bg-small-2.png) no-repeat 15% 88.5%, url(../assets/icons/product-flower-small.png) no-repeat 0% 40.2%, url(../assets/icons/product-bg-blue.png) no-repeat 18.9% 10.8%, url(../assets/icons/product-bg-yellow.png) no-repeat 81% 21%, url(../assets/icons/dots-product.png) no-repeat 100% 28.8%, url(../assets/icons/product-bg-smth.png) no-repeat 100% 9.6%;
    background-size: 25%, 25%, 25%, 25%, 10%, auto, auto, auto, auto;
  }
  .info-text-third {
    margin-right: 110px;
  }
}
@media (max-width: 660px) {
  .info-container {
    padding: 0 5px;
    background: url(../assets/icons/product-bg-3.png) no-repeat 36% 14%, url(../assets/icons/product-bg-4.png) no-repeat 61.8% 8.4%, url(../assets/icons/info-bg-small.png) no-repeat 100% 66.5%, url(../assets/icons/info-bg-small-2.png) no-repeat 15% 88.5%, url(../assets/icons/product-flower-small.png) no-repeat 0% 40.2%, url(../assets/icons/product-bg-blue.png) no-repeat 18.9% 10.8%, url(../assets/icons/product-bg-yellow.png) no-repeat 81% 21%, url(../assets/icons/dots-product.png) no-repeat 100% 28.8%, url(../assets/icons/product-bg-smth.png) no-repeat 100% 9.6%;
    background-size: auto, auto, auto, auto, 10%, auto, auto, auto, auto;
  }
  .product-image {
    margin-top: 5%;
    width: 350px;
    overflow: hidden;
  }
  .product-image .product-image img {
    margin: 0 auto;
    width: 103%;
  }
  .info-text {
    width: 100%;
    padding: 0;
    margin-top: 31px;
  }
  .info-text-first {
    padding: 15px 14px 12px 14px;
    margin: 15px 0 68px 29px;
    border-radius: 10px;
  }
  .info-text-second {
    margin: 10px 69px 4px 3px;
    padding: 6px 0px;
    border-radius: 10px;
    white-space: nowrap;
    letter-spacing: 0px;
  }
  .info-text-third {
    margin: 47px 12px 9px 24px;
    padding: 12px 7px 12px 9px;
    border-radius: 10px;
  }
}
@media (max-width: 460px) {
  .info-container {
    padding: 0 5px;
    background: url(../assets/icons/product-bg-3.png) no-repeat 31% 14%, url(../assets/icons/product-bg-4.png) no-repeat 63.8% 8.4%, url(../assets/icons/info-bg-small.png) no-repeat 100% 66.5%, url(../assets/icons/info-bg-small-2.png) no-repeat 15% 88.5%, url(../assets/icons/product-flower-small.png) no-repeat 0% 40.2%, url(../assets/icons/product-bg-blue.png) no-repeat 18.9% 10.8%, url(../assets/icons/product-bg-yellow.png) no-repeat 81% 21%, url(../assets/icons/dots-product.png) no-repeat 100% 28.8%, url(../assets/icons/product-bg-smth.png) no-repeat 100% 9.6%;
    background-size: auto, auto, auto, auto, 10%, auto, auto, auto, auto;
  }
  .product-image {
    margin-top: 17%;
  }
}
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-container h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 116.351px;
  line-height: 73px;
  opacity: 0.3;
  text-transform: uppercase;
  color: #E6A0C8;
  transition: opacity 0.3s ease;
}

.product-cards-container {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  z-index: 1;
}

.card {
  max-width: 315px;
  background: url(../assets/photo/card-bg.png) no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 433px;
  padding: 15px 15px;
}

.card-inner {
  background-color: #FFFFFF;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  transition: opacity 0.3s ease;
}

.card-img-container {
  margin-top: 35px;
  max-width: 280px;
  display: flex;
  justify-content: center;
  max-height: 280px;
}
.card-img-container img {
  object-fit: cover;
  margin-right: 10px;
}

.card:hover .card-inner {
  opacity: 1;
}

.card-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #232323;
  padding: 10px 10px 10px 10px;
}

.card-name {
  font-size: 20px;
}

.see-more {
  font-size: 14px;
}

.product-cont-outer {
  overflow-y: visible;
  padding-top: 29px;
  margin-top: -23px;
  width: 70%;
}

@media (max-width: 1680px) {
  .products-container {
    margin-top: 20px;
  }
  .product-cont-outer {
    overflow-x: scroll;
  }
  /* width */
  .product-cont-outer::-webkit-scrollbar {
    background: rgba(230, 160, 201, 0.68);
    border-radius: 10px;
    height: 23px;
    padding: 5px;
    margin: 10%;
  }
  /* Track */
  .product-cont-outer::-webkit-scrollbar-button {
    height: 10px;
    width: 10px;
    padding: 3px;
  }
  /* Handle */
  .product-cont-outer::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.86);
    border-radius: 10px;
    border: 6px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }
  /* Handle on hover */
  .product-cont-outer ::-webkit-scrollbar-thumb:hover {
    background: rgba(3, 2, 2, 0.5);
  }
}
@media (max-width: 1500px) {
  .product-cont-outer {
    overflow-x: scroll;
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .products-container h2 {
    margin-top: 45px;
    font-size: 60px;
  }
  .product-cont-outer {
    width: 90%;
  }
}
@media (max-width: 490px) {
  .products-container {
    margin-top: 0;
  }
  .product-cont-outer {
    width: 100%;
  }
  .products-container h2 {
    margin-top: 45px;
    font-size: 40px;
  }
  .product-cards-container {
    column-gap: 10px;
    width: 100%;
    margin-left: 17px;
    margin-top: -138px;
  }
  .card {
    margin-top: 110px;
    width: 145px;
    background-size: contain;
    padding: 10px;
  }
  .card-img-container {
    max-height: 145px;
    margin-top: 9px;
  }
  .card-img-container img {
    object-fit: contain;
  }
  .card-text {
    margin-top: -14px;
    line-height: 10px;
    padding: 3px;
  }
  .card-name {
    font-size: 12px;
  }
  .see-more {
    font-size: 9px;
  }
  .see-more img {
    width: 20%;
  }
}
.review-container {
  margin-top: 100px;
  padding: 130px 230px 97px 230px;
  background: url(../assets/icons/review-background/Group\ 21.png) no-repeat 93.8% 1%, url(../assets/icons/review-background/Group\ 22.png) no-repeat 78% 30%, url(../assets/icons/review-background/Group\ 24.png) no-repeat 53.6% 11.2%, url(../assets/icons/review-background/Group\ 25.png) no-repeat 20.6% 89.2%, url(../assets/icons/review-background/Vector-1.png) no-repeat 8.6% 3.2%, url(../assets/icons/review-background/Vector.png) no-repeat 0% 66.7%;
}

.dialog-areas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #232323;
  padding-bottom: 30px;
}
@media (max-width: 1000px) {
  .dialog-areas {
    font-size: 16px;
    line-height: 21px;
  }
}

.first-review {
  background: url(../assets/icons/review-area-dialog-tail.svg) no-repeat 7% 101%;
  padding: 35px 0 0 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.8%;
  padding-bottom: 60px;
}

.rev1-img {
  width: 186px;
  height: 186px;
  object-fit: contain;
  border-radius: 100px;
  z-index: 1;
}

.review-area {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.review-area-1 {
  margin-left: -93px;
  text-align: left;
  white-space: break-spaces;
  padding: 49px 135px 53px 138px;
  background: url(../assets/icons/review-flower.png) no-repeat 105% 122%;
  background-color: #D1B9DA;
}

.second-review {
  background: url(../assets/icons/tail-2.svg) no-repeat 94% 97%;
  padding: 40px 0 70px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rev2-img {
  width: 186px;
  height: 186px;
  object-fit: contain;
  border-radius: 100px;
  z-index: 1;
}

.review-area-2 {
  background: url(../assets/icons/review-flower.png) no-repeat -2% 122%;
  background-color: #C6DBD8;
  text-align: right;
  white-space: break-spaces;
  padding: 50px 139px 51px 100px;
  margin-right: -93px;
}

.review-message {
  margin-bottom: 10px;
}

.reviewer-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  line-height: 39px;
  color: #575757;
}

.reviewer-status {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: 1500px) {
  .review-container {
    padding: 130px 125px 97px 125px;
  }
  .second-review {
    background: url(../assets/icons/tail-2.svg) no-repeat 89% 97%;
  }
}
@media (max-width: 1200px) {
  .review-container {
    padding: 130px 25px 97px 25px;
  }
  .first-review {
    flex-direction: column;
  }
  .second-review {
    flex-direction: column-reverse;
  }
  .rev1-img {
    margin-bottom: -40px;
  }
  .rev2-img {
    margin-bottom: -40px;
  }
  .review-area-2 {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .dialog-areas {
    row-gap: 0;
    padding-bottom: 0;
  }
  .review-container {
    margin-top: 0;
    padding: 7px 25px 10px 25px;
    background: url(../assets/icons/review-background/Group\ 21.png) no-repeat 91% 40.7%, url(../assets/icons/review-background/Group\ 22.png) no-repeat 105% 58%, url(../assets/icons/review-background/Group\ 24.png) no-repeat 53.6% 11.2%, url(../assets/icons/review-background/Group\ 25.png) no-repeat 30.6% 75.2%, url(../assets/icons/review-background/Vector-1.png) no-repeat 5.5% 5.7%, url(../assets/icons/review-background/Vector.png) no-repeat 5% 90.7%;
    background-size: 19%, 18%, 15%, 14%, 17%, 23%;
  }
  .rev1-img {
    margin-bottom: -60px;
    width: 90px;
    border-radius: 100px;
    height: fit-content;
  }
  .rev2-img {
    margin-bottom: 0px;
    width: 90px;
    border-radius: 100px;
    height: fit-content;
  }
  .review-area {
    padding: 38px 35px 5px 35px;
    border-radius: 20px;
    text-align: center;
  }
  .review-area-1 {
    margin: 0;
    margin-top: 40px;
    background-image: none;
  }
  .review-area-2 {
    margin: 0;
    margin-top: -20px;
    background-image: none;
  }
  .review-message {
    margin: 0;
  }
  .first-review {
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 15px;
    background-size: 37%;
    background-position: 2% 89%;
  }
  .second-review {
    margin-left: 2px;
    margin-right: 15px;
    background-size: 37%;
    background-position: 98% 87%;
    padding-top: 0;
  }
  .reviewer-name {
    font-size: 16px;
    margin-top: 15px;
    line-height: normal;
  }
  .reviewer-status {
    font-size: 12px;
  }
}
.follow-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  white-space: break-spaces;
  text-align: center;
  color: #232323;
  letter-spacing: 1px;
}
.link a {
  color: #232323;
}

.slider {
  margin: 31px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.slider-outer {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.for-slide {
  display: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-720px);
  }
}
@media (max-width: 1500px) {
  .follow-us-container {
    margin-top: 0;
  }
  .slider {
    margin-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .slider .slide {
    width: 100px;
  }
  .slider .slide img {
    width: 100px;
  }
  .link {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .for-slide {
    display: block;
  }
  .slider {
    width: 840px;
    animation: scroll 15s linear infinite;
  }
}
.footer {
  background: url(../assets/icons/footer-background/Vector\ 4.png) round;
}

.footer-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.footer-container {
  margin-top: 136px;
  background: url(../assets/icons/footer-background/be\ super.png) no-repeat 32.7% 95.4%, url(../assets/icons/footer-background/be\ beautiful.png) no-repeat 92% 81%, url(../assets/icons/footer-background/be\ cool.png) no-repeat 7.8% 11%, url(../assets/icons/footer-background/be\ funny.png) no-repeat 41% 79%, url(../assets/icons/footer-background/be\ happy.png) no-repeat 14% 71%, url(../assets/icons/footer-background/be\ ready.png) no-repeat 92% 14%, url(../assets/icons/footer-background/Group\ 28.png) no-repeat 95% 40%, url(../assets/icons/footer-background/Group\ 29.png) no-repeat 0% 28%, url(../assets/icons/footer-background/Group\ 30.png) no-repeat 1.6% 68%, url(../assets/icons/footer-background/Group\ 31.png) no-repeat 88.7% 102%, url(../assets/icons/footer-bg.svg) no-repeat;
  padding: 120px 0 0 0;
}
.footer-container h2 {
  margin-left: 17%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 110px;
  font-size: 112px;
  text-align: center;
  display: flex;
  align-items: center;
}
.footer-container h2 img {
  margin-top: 16px;
}

.footer-info {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.3%;
}

.adress {
  white-space: normal;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 80.52%;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  row-gap: 20px;
  margin-top: 45px;
  margin-right: 56px;
}
.adress a {
  font-weight: 100;
  color: inherit;
}
.adress .second-adress {
  letter-spacing: 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 27px;
}
.social-media a svg {
  padding: 12px;
  border-radius: 0 20px 0 20px;
  border: 1px solid #FFFFFF;
  max-height: 60px;
  width: 60px;
  color: #FFFFFF;
  background-color: none;
  transition: all 0.3s ease;
}
.social-media a svg:hover {
  background-color: #FFFFFF;
  color: #5D96C7;
}

.trade-mark {
  margin-top: 188px;
  padding-top: 10px;
  background-color: #EDEDED;
  text-align: center;
  color: #000000;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.trade-mark span {
  font-size: 28px;
  font-weight: 100;
}

@media (max-width: 1200px) {
  .footer-container h2 {
    width: 85%;
    margin: 0 auto;
  }
  .footer-container h2 img {
    width: 30%;
  }
  .footer-info {
    flex-direction: column;
  }
  .social-media {
    flex-direction: row;
    column-gap: 10px;
  }
  .trade-mark {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .footer-container {
    margin-top: 0px;
    background: url(../assets/icons/footer-background/be\ super.png) no-repeat 32.7% 95.4%, url(../assets/icons/footer-background/be\ beautiful.png) no-repeat 92% 81%, url(../assets/icons/footer-background/be\ cool.png) no-repeat 7.8% 11%, url(../assets/icons/footer-background/be\ funny.png) no-repeat 41% 79%, url(../assets/icons/footer-background/be\ happy.png) no-repeat 14% 71%, url(../assets/icons/footer-background/be\ ready.png) no-repeat 92% 14%, url(../assets/icons/footer-background/Vector\ 4.png) no-repeat 39% 51%;
    background-size: 230%, 50%, 10%;
    padding-top: 70px;
  }
  .footer-container h2 {
    margin: 0;
    font-size: 40px;
    line-height: 20px;
  }
  .footer-container h2 img {
    width: 30%;
  }
  .footer-info {
    margin-top: 30px;
  }
  .footer-info .logo img {
    width: 100px;
  }
  .adress {
    font-size: 14px;
    margin: 0;
  }
  .social-media {
    margin-top: 20px;
  }
  .social-media a svg {
    max-height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 0 10px 0 10px;
  }
  .trade-mark {
    margin-top: 20px;
    font-size: smaller;
  }
  .trade-mark span {
    font-size: smaller;
  }
}

/*# sourceMappingURL=styles.css.map */
