.about-outer{

    margin-bottom: 88px;
margin-top: -75px;
}
.about-container{
    background: url(../assets/icons/warning-sticker.png) no-repeat;
    background-position: right bottom;
    background-position-x: 97%;
    display: flex;
    flex-direction: column;
    padding: 0px 295px 152px 295px;
}
.pre-heading-text{
    text-align: right;
    @include message-text();
    margin-bottom: 130px;
    padding-left: 34%;
}
.about-header{
    @include header(67px);
    color: #CB5699;;
letter-spacing: 0;
 width: fit-content;
 letter-spacing: 0;
margin: 0 auto;
 margin-bottom: 148px;
}
.about-skewed-text{
    font-family: $earwing;
font-style: normal;
font-weight: 400;
font-size: 105.369px;
line-height: 126px;
}
.about-question{
    @include message-text();
    font-size: 88px;
    color: #CB5699;;
}
.about-text{
    text-align: left;
    @include message-text();
    width: 65%;
    padding-left: 5px;
    white-space: break-spaces;
}
@media (max-width:1600px){
.about-container{
    padding: 0px 160px 152px 160px;
    background-size: 30%;
}
.about-header{
    font-size: 45px;
    letter-spacing: 0;
    margin-bottom: 0;

}
.about-skewed-text{
    font-size: 60px;
    margin-left: -3px;
}
.about-question{
    font-size: 45px;
}
}

@media (max-width:1000px){
    .about-container{
        padding: 0px 70px 152px 70px;
    }
    .about-outer {

        margin-top: 63px;
    }
    .pre-heading-text{
        padding-left: 18%;
        margin-bottom: 0;
    }

    .about-header{
        font-size: 27px;
        letter-spacing: 0;
        margin-bottom: 0;

    }
    .about-skewed-text{
        font-size: 39px;
        margin-left: -3px;
    }
    .about-question{
        font-size: 29px;
    }
    .about-text{
        margin-top: 7px ;
          padding-left: 0;
          white-space: normal;
    }
    }
    @media (max-width:600px){
        .about-container{
            padding: 0px 16px 0px 16px;

            background: url(../assets/icons/Group\ 5.png) no-repeat 100% 92%;

        }
    }

    @media (max-width:500px){
        .about-container{
            background: url(../assets/icons/Group\ 5.png) no-repeat 110% 92%;

        }
        .about-outer {
margin-bottom: 79px;
            margin-top: 66px;
        }
        .about-text{
              width: 230px;}
        }





@media (max-width:360px){
.about-container{
    background: url(../assets/icons/Group\ 5.png) no-repeat 122% 84%;
}


    }