.about-outer{
    margin-bottom: 88px;
margin-top: -75px;
}
.about-container{
    background: url(../../assets/icons/warning-sticker.png) no-repeat;
    background-position: right bottom;
    background-position-x: 97%;
    display: flex;
    flex-direction: column;
    padding: 0px 295px 152px 295px;
}
.pre-heading-text{
    text-align: right;
    @include message-text();
    margin-bottom: 130px;
    padding-left: 34%;
}
.about-header{
    @include header(67px);
    color: #CB5699;;
letter-spacing: 0;
 width: fit-content;
 letter-spacing: 0;
margin: 0 auto;
 margin-bottom: 148px;
}
.about-skewed-text{
    font-family: $earwing;
font-style: normal;
font-weight: 400;
font-size: 105.369px;
line-height: 126px;
}
.about-question{
    @include message-text();
    font-size: 88px;
    color: #CB5699;;
}
.about-text{
    text-align: left;
    @include message-text();
    width: 65%;
    padding-left: 5px;
    white-space: break-spaces;
}