.footer {
    background: url(../assets/footer/background-images/footer-main-blue.svg) no-repeat center center;
    background-size: 300%
}

@media (max-width:1920px) {
    .footer {
        background: url(../assets/footer/background-images/footer-on-1920.svg) no-repeat center center;
        background-size: 1920px;
    }
}

.footer-wrapper {
    @include wrapper();
    padding: 0;

}

.footer-container {
    margin-top: 120px;
    background:
        url(../assets/footer/background-images/Vector.svg) no-repeat 13% 110%,
        url(../assets/footer/background-images/be-super.svg) no-repeat 32.7% 101%,
        url(../assets/footer/background-images/be-beautiful.svg) no-repeat 92% 87%,
        url(../assets/footer/background-images/be-cool.svg) no-repeat 7.8% 13%,
        url(../assets/footer/background-images/be-funny.svg) no-repeat 40% 86%,
        url(../assets/footer/background-images/be-happy.svg) no-repeat 14% 77%,
        url(../assets/footer/background-images/be-ready.svg) no-repeat 92% 16%,
        url(../assets/footer/background-images/footer-dots.svg) no-repeat 95% 44%,
        url(../assets/footer/background-images/footer-lattice.svg) no-repeat -3% 30%,
        url(../assets/badz/flower.svg) no-repeat 2% 73%,
        url(../assets/badz/flower.svg) no-repeat 89% 111%;

    background-size: 544px, 250px, 723px, 185px, 218px, 320px, 355px, 160px, 200px, 125px, 125px;
    padding: 129px 0 195px 0;

    h2 {
        margin-left: 17%;
        @include header(112px);
        opacity: 0.7;
        text-align: center;
        display: flex;
        align-items: center;

        img {
            margin-top: 16px;
        }
    }
}

.footer-info {

    display: flex;
    align-items: center;
    //  justify-content: center;
    // column-gap: 50px;
    width: fit-content;
    margin: 0 auto;
}

.footer-info-box {
    white-space: normal;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 80.52%;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    row-gap: 20px;
    margin-top: 45px;
    padding: 0px 38px;
    margin-right: 55px;
}

.second-adress {
    letter-spacing: 0;
}

.web-site {
    padding-left: 35px;
    font-weight: 100;
    letter-spacing: 0;
    color: inherit;
}


.company-name {

    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 29px;

    a svg {
        padding: 12px;
        border-radius: 0 20px 0 20px;
        border: 1px solid #FFFFFF;
        max-height: 60px;
        width: 60px;
        color: #FFFFFF;
        background-color: none;
        transition: all .3s ease;
    }

    a svg:hover {
        background-color: #FFFFFF;
        color: #5D96C7;

    }
}

.trade-mark {


    padding-top: 10px;
    background-color: #EDEDED;
    text-align: center;
    color: #000000;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    span {
        font-size: 28px;
        font-weight: 100;
    }
}

@media (max-width:1550px) {

    .footer-container {
        background-position: 13% 110%, 32.7% 101%, 92% 30%, 7.8% 13%, 35% 86%, 14% 77%, 110% 16%, 105% 64%, -3% 30%, -3% 73%, 89% 111%;
    }
}

@media (max-width:1500px) {
    .footer-container {
        padding: 124px 0 135px 0;
        background-size: 472px, 249px, 520px, 171px, 207px, 275px, 292px, 154px, 184px, 125px, 125px;
        background-position: 13% 110%,
            48.7% 100%,
            101% 33%,
            7.8% 13%,
            35% 88%,
            8% 76%,
            118% 16%,
            107% 65%,
            -3% 41%,
            -30% 73%,
            89% 122%;


        h2 {
            width: 85%;
            margin: 0 auto;
            font-size: 70px;

            img {
                width: 25%;
            }
        }
    }

    .footer-info {
        flex-direction: column;
    }

    .social-media {
        flex-direction: row;
        column-gap: 10px;
    }

    .trade-mark {}
}

@media (max-width:800px) {
    .footer-container {

        background-size: 472px, 249px, 320px, 171px, 207px, 275px, 292px, 154px, 184px, 125px, 125px;
        background-position: 13% 110%,
            48.7% 100%,
            121% 33%,
            7.8% 13%,
            35% 88%,
            8% 76%,
            118% 16%,
            107% 65%,
            -3% 41%,
            -30% 73%,
            89% 122%;
    }



}


@media (max-width:690px) {
    .footer {
        background-size: 780px;
    }

    .footer-container {
        margin-top: 0;

        background:
            url(../assets/footer/background-images/be-happy.svg) no-repeat 0% 95%,
            url(../assets/footer/background-images/Vector.svg) no-repeat 2% 104%,
            url(../assets/footer/background-images/be-super.svg) no-repeat 90.7% 99%,
            url(../assets/footer/background-images/be-beautiful.svg) no-repeat 124% 41%,
            url(../assets/footer/background-images/be-cool.svg) no-repeat 0% 40%,



            url(../assets/footer/background-images/footer-dots.svg) no-repeat 100% 72%,
            url(../assets/footer/background-images/footer-lattice.svg) no-repeat -10% 75%;
        background-size: 92px, 140px, 75px, 180px, 90px, 54px, 80px;

        // background: url(../assets/icons/footer-bg.svg) no-repeat 51% 40%;
        //  background-size: 230%;
        padding: 70px 0 35px 0;

        h2 {


            font-size: 40px;
            line-height: 20px;
            width: fit-content;
            margin: 0 auto;

            img {
                width: 35%;
            }
        }

    }



    .footer-info {
        margin-top: 25px;

        .logo {
            margin-right: 19px;
            margin-top: 2px;

            img {
                width: 84px;
            }
        }
    }

    .footer-info-box {

        font-size: 14px;
        row-gap: 10px;
        padding: 0;
        margin: 0;
        margin-top: 11px;
        align-items: center;
    }

    .company-name {
        font-size: 12px;
        padding-right: 9px;
    }

    .web-site {
        padding-left: 5px;
        font-size: 12px;
    }

    .second-adress {
        font-size: 12px;
    }

    .social-media {
        margin-top: 19px;
        column-gap: 12px;
    }

    .social-media a svg {

        max-height: 26px;
        width: 26px;
        padding: 5px;
        border-radius: 0 10px 0 10px;
    }

    .trade-mark {



        font-size: smaller;

        span {
            font-size: smaller;
        }
    }
}

@media (max-width:400px) {


    .footer-container {
        margin-top: 0;

        background:
            url(../assets/footer/background-images/be-happy.svg) no-repeat 0% 95%,
            url(../assets/footer/background-images/Vector.svg) no-repeat 2% 104%,
            url(../assets/footer/background-images/be-super.svg) no-repeat 100.7% 99%,
            url(../assets/footer/background-images/be-beautiful.svg) no-repeat 124% 41%,
            url(../assets/footer/background-images/be-cool.svg) no-repeat 0% 40%,



            url(../assets/footer/background-images/footer-dots.svg) no-repeat 110% 72%,
            url(../assets/footer/background-images/footer-lattice.svg) no-repeat -20% 75%;
        background-size: 92px, 140px, 75px, 180px, 90px, 54px, 80px;
    }
}