.header-container{
    background: url(../../assets/photo/header-image.jpg) no-repeat 17% 70%;
    background-size: 1940px;
    width: 100%;
padding-top: 225px;
padding-bottom: 8px;
overflow: hidden;
display: flex;
justify-content: space-between;


}

.headers{
    width: 100%;
}
.motto{
display: flex;
flex-direction: column;
justify-content: center;
width: fit-content;
padding-left: 32px;
letter-spacing: 7px;
max-height: 500px;
background: url('../../assets/icons/vector-text/&.svg') no-repeat center;
background-position-x: 388px;
row-gap: 190px;


}
.ochrony{
    @include header(87px);
align-items: flex-start;

display: flex;
letter-spacing: 2px;
align-items: flex-start;
padding-left: 152px;
position: relative;
text-transform: uppercase;
span{
    margin-right: 25px
}

}

.hashtag{
    @include header(100px);
    align-items: flex-start;
    top: 0;
    display: flex;
    letter-spacing: 0px;
    align-items: flex-start;
    position: relative;
    text-transform: uppercase;

}

.circular{
    width: fit-content;
    margin-left: 36.4%;
    padding-top: 69px;
    padding-bottom: 48px;
}
.link-container{
    display: flex;
    align-items: flex-end;
    transform: rotate(180deg);
    height: fit-content;
    margin-top: 129px;
    margin-right: 23px;
}
.instagram-link{
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    direction: ltr;
    color: #FFFFFF;
    writing-mode: vertical-rl;
}
.markup-bg{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: -337px;
    padding-right: 10%;
    overflow: hidden;
}
.markup{
    margin-left: -131px;
}
.text-label{
    margin-top: -28px;
}

@media (max-width:1600px) {
    .motto{
    flex-direction: column-reverse;
    }
    .link-container{
        display: none;
    }
}
@media (max-width:1500px) {
    .header-container{
        background: url(../../assets/photo/header-image.jpg) no-repeat 30% 70%;
    }
    .motto{
        background: url(../../assets/icons/vector-text/&.svg) no-repeat 21% 50%;
        background-size: 40%;
        row-gap: 100px;

    }
    .ochrony{
        font-size: 50px ;
    }
    .hashtag{
        font-size: 50px;
    }
    .markup-bg {
        display: flex;

        row-gap: 162px;
    }
    .markup{

        margin-top: -3px;
        margin-left: -337px;
       }

}



@media (max-width:1000px){
    .header-container{
        background: url(../../assets/photo/header-image.jpg) no-repeat 46% 100%;
        background-size: 1117px;
        padding-top: 83px;
        padding-bottom: 30px;
    }

    .motto{
        padding-left: 20px;
        row-gap: 95px;
        background: url(../../assets/icons/vector-text/&.svg) no-repeat 21% 50%;
        background-size: 55%;

    }
    .ochrony{
        padding-left: 53px;
        font-size: 28px;
        letter-spacing: 0;
        display: flex;
        flex-direction: column;
        line-height: 70px;
        font-weight: 500;
    span{
        font-size: 59px;
        line-height: 0;
        font-weight: 700;
        margin-right: 0;
    }
    }
    .hashtag{
        display: flex;
        flex-direction: column;
        line-height: 45px;
        font-weight: 500;
        font-size: 55px;
        letter-spacing: -3px;
        span{
            font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
        }
    }
    .circular{
        width: fit-content;
        margin-left: 35%;
        padding-top: 67px;
        padding-bottom: 48px;
        img{
            width: 230px;
        }
    }
    .markup-bg {
        display: flex;
flex-direction: column;
        row-gap: 162px;
        margin-top: -380px;
    }
    .markup{
        width: 154px;
        margin-top: 25px;
        margin-left: -109%;
       }
       .text-label{
        width: 105px;
        margin-top: -14px;
        margin-left: 84%;
       }

    }
    @media (max-width:660px){
        .circular{
            margin-left: 29%;}
    }

    @media (max-width:360px){
        .circular{
            margin-left: 17.5%;}
    }