.header-container{
    background: url('../../assets/photo/header-image.jpg');
    width: 100%;
    background-position-x: 37%;
background-position-y: bottom;
padding-top: 225px;
padding-bottom: 8px;
overflow: hidden;
display: flex;
justify-content: space-between;
@media (max-width:1700px) {
    background: url('../../assets/photo/header-image.jpg') no-repeat center;
}
}

.headers{
    width: 100%;
}
.motto{
display: flex;
flex-direction: column;
justify-content: center;
width: fit-content;
padding-left: 32px;
letter-spacing: 7px;
max-height: 500px;
background: url('../../assets/icons/vector-text/&.svg') no-repeat center;
background-position-x: 388px;
row-gap: 190px;
@media (max-width:1700px) {
    flex-direction: column-reverse;
}
}
.ochrony{
    @include header(87px);
align-items: flex-start;

display: flex;
letter-spacing: 2px;
align-items: flex-start;
padding-left: 152px;
position: relative;
text-transform: uppercase;
}

.hashtag{
    @include header(100px);
    align-items: flex-start;
    top: 0;
    display: flex;
    letter-spacing: 0px;
    align-items: flex-start;
    position: relative;
    text-transform: uppercase;
}
.circular{
    justify-self: center;
    width: fit-content;
margin-left: 46.4%;
    padding-top: 69px;
padding-bottom: 48px;
}
.link-container{
    display: flex;
 align-items: flex-end;
 transform: rotate(-90deg);
height: fit-content;
margin-top: 153px;
}
.instagram-link{
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    transform-origin: 0 0;
    margin-top: 81%;
height: fit-content;
}
.markup-bg{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: -337px;
    padding-right: 10%;
    overflow: hidden;
}
.markup{
    margin-left: -131px;
}
.text-label{
    margin-top: -28px;
}
