.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 116.351px;
line-height: 73px;
opacity: 0.3;
text-transform: uppercase;
color: #E6A0C8;
transition: opacity .3s ease;

    }

}
.product-cards-container{
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    z-index: 1;
}
.card{
max-width: 315px;
background: url(../../assets/photo/card-bg.png) no-repeat center;
display: flex;
align-items: center;
justify-content: center;
max-height: 433px;

padding: 15px 15px;
}

.card-inner{
background-color: #FFFFFF;

width: 100%;
opacity: 0;

display: flex;
flex-direction: column;
row-gap: 14px;
transition: opacity .3s ease;
}
.card-img-container{
    margin-top: 35px;
max-width: 280px;

display: flex;
justify-content: center;
max-height: 280px;
img{
object-fit: cover;
margin-right: 10px;
}
}
.card:hover{
    .card-inner{
        opacity: 1;
    }
}
.card-text{

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;

line-height: 26px;
text-align: center;
color: #232323;
padding: 10px 10px 10px 10px;
}
.card-name{
    font-size: 20px;
}
.see-more{

    font-size: 14px;
}