$desktop-width:1920px;
$mobile-width:360px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    margin: 0 auto;
}

@mixin wrapper(){
    max-width: $desktop-width;

    overflow: hidden;
    margin: 0 auto;
}
.wrapper{
    @include wrapper()
}